# Composer vendor directory
/vendor/

# Composer executable
composer.phar

# User-uploaded content
# Ignore all files inside the imgs directory...
/media/imgs/*
# ...but DO NOT ignore the .gitkeep file, so the directory is tracked.
!/media/imgs/.gitkeep

# Log files
debug.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment credentials
.env